@font-face {
    font-family: 'moderatlight';
    src: url('../fonts/Moderat/moderat-light-webfont.woff2') format('woff2'),
        url('../fonts/Moderat/moderat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'moderatregular';
    src: url('../fonts/Moderat/moderat-regular-webfont.woff2') format('woff2'),
        url('../fonts/Moderat/moderat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    font-family: 'moderatlight', sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 30px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 90%;
    max-width: 1200px;
}

header ul {
    list-style-type: none;
}

header ul li {
    margin: 5px 0;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family: 'moderatregular', sans-serif;
    font-weight: 500;
}

header .active {
    text-decoration: underline;
    color: #003cff;
}

header a img {
    height: 2rem;
}

header .logo:hover {
    border: none;
}

/* main */

.flex {
    display: flex;
    flex-direction: column;
}

main h1 {
    font-family: 'moderatregular', sans-serif;
    font-weight: 400;
    font-size: 1.9rem;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

main a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
    font-family: 'moderatregular', sans-serif;
    font-weight: 500;
}

.index_highlighted_container {
    padding-top: 100px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.highlighted_container_title {
    padding-bottom: 30px;
}

.thick {
    font-weight: 600;
}

.detail_press_images {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly ;
    align-items: center;
}

.image_download {
    width: 15%;
}

.image_download a {
    border: none;
    margin: 20px auto;
}

.image_download a:hover {
    border: none;
}


.detail_text_block {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
}

.detail_text_block a{
    border: none;
    
}

.detail_text_block p{
    margin: 30px 0;
    
}


.dynamic_load img {
    width: 100%;
    padding-bottom: 20px;
}

.gray_sub_title {
    color: gray;
    font: 1rem;
    padding-bottom: 5px;
}

.detail_atelier_img {
    width: 90%;
}

.overview {
    width: 300px;
    margin-left: auto;
    margin-bottom: 40px;
}

.overview a{
    border: none;
    margin-left: auto;
    text-align: right;
    margin: 0 auto;
    font-size: 1.5rem;
}

.overview a:hover{
    border: none;
}



.detail_p {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.gray {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    font-size: 1.3rem;
    color: gray;
}

.dynamic_article p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding-bottom: 20px;
    font-weight: 300;
}

.dynamic_article {
    padding-bottom: 40px;
}


.highlighted_container_sublink {
    color: blue;
    border: none;
    font-size: 0.8rem;
    font-family: 'moderatregular', sans-serif;
    font-weight: 400;

}

a:hover {
    color: blue;
    border-bottom: 2px solid blue;
}

.text_and_link a {
    font-size: 1rem;
    border: none;
}


.text_and_link a:hover {
    border-bottom: 2px solid blue;
}


/* index main */
main .header_paragraph {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 1.5rem;
    font-size: 1rem;
}

main .header_paragraph p {
    padding-bottom: 10px;
}

h2 {
    font-family: 'moderatregular', sans-serif;
    font-weight: 400;
}

.highlighted_art_article h2 {
    padding-bottom: 10px;

}

.index_crane_article {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.index_crane_article img {
    width: 95%;
    padding-bottom: 50px;
}

.index_crane_article h2 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-bottom: 10px;
}

.index_crane_article .text_and_link {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.index_crane_article p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    padding-bottom: 10px;
}

/* atelier */

.Atelier_main_header {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.Atelier_main_header p {
    font-size: 1rem;
    padding-top: 10px;
    font-weight: 300;
    line-height: 1.5rem;
}

/* contact */

.contact_page {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact_header {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact_header h1 {
    width: 100%;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.contact_header p {
    font-size: 1.1rem;
    font-size: 2rem;
    width: 60%;
}


.contact_page h1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 20px auto;
}

.contact_page p {
    font-size: 1.1rem;
}

.contact_page h3 {
    margin: 50px 0 20px 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.contact_page .address {
    color: gray;
    font: 1rem;
    padding-bottom: 15px;
}

.contact_page .gray {
    color: gray;
    font: 1rem;
    padding-bottom: 15px;
}

.contact_page a {
    font-weight: 600;
    border: none;
    width: auto;
    padding-bottom: 10px;
}

.contact_item input,
.contact_item textarea {
    padding-left: 5px;
    margin-bottom: 10px 0;
    background-color: inherit;
    flex-wrap: nowrap;
    border: 1px solid gray;
    line-height: 30px;
    justify-content: space-between;
    color: black;
    outline: gray;
}

.contact_item label,
.contact_item select#contact,
.contact_item input#email,
.contact_item textarea {
    width: 90%;
    margin: 10px auto;
}

.contact_item input#send_bttn {
    margin: 10px 0;
    width: 80px;
    background-color: blue;
    outline: none;
    border: black;
    color: white;
}

.filter {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
}

.filter_year {
    font-size: 0.9rem;
    line-height: 1.5;
}

.year_title {
    width: 90%;
    max-width: 1200px;
    font-size: 1.8rem;
    margin: 40px auto;
}

.art_card_text h2 {
    width: 90%;
    max-width: 1200px;
    font-size: 1.8rem;
    margin: 10px auto;
}

.art_card_text h3 {
    width: 90%;
    max-width: 1200px;
    font-size: 1rem;
    margin: 10px auto;
}


.filter_category {
    width: 80%;
    font-size: 1.1rem;
}

.all_filters {
    margin: 0 auto;
    margin-top: 80px;
    width: 90%;
    max-width: 1200px;
}

.filter {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
    max-width: 1200px;
}

.filter li {
    margin: 0 40px 0 0;
    font-weight: 600;
    border: none;
    cursor: pointer
}

.filter li a {
    border: none;

}

.filter li:hover {
    color: blue;
}

.art_card_img_container {
    width: 100%;
    margin-left: 3%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.art_card_image {
    width: 135px;
    height: 100%;
    margin: 5px 5px;
}

.art_card_img_container a {
    border: none;
}

.art_card_img_container a:hover {
    border: none;
}

/* main anomaly */

.anomaly {
    padding-top: 40px;
}

/* biography */

.biography_page_wrapper {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.biography_page_wrapper .bio_img_0 {
    width: 95%;
    max-width: 1000px;
}

.stick_left {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.stick_left h1 {
    padding-bottom: 20px;
    margin-left: 0;
}

.stick_left p {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.centered_bio {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 40px 0;
}

.bio_set {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.bio_set img {
    padding: 0;
    width: 100%;
}

.bio_set p {
    text-align: right;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px 0 40px 0;
}

.stick_left {
    padding-bottom: 140px;
}

.yt_video_biography {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.reverse_flex_start {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.reverse_flex_start img {
    padding-bottom: 15px;
}

.reverse_flex_start p {
    padding-bottom: 60px;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.biography_quote {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
}

.biography_quote:last-of-type {
    padding-top: 30px;
    padding-bottom: 50px;
}


.centered_bio_2 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.centered_bio_2 h2 {
    padding-bottom: 20px;
}


.centered_bio_2 p {
    padding-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
}

.biography_flex_2 {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.bio_img_4 {
    padding-bottom: 20px;
}

.biography_flex_1 {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}


.text_container_biography h2 {
    padding: 20px 0;
}

.text_container_biography p {
    padding-bottom: 15px;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.bio_img_7 {
    padding-bottom: 30px;
}


/* footer */
.footer_and_social {
    border-top: 2px solid rgb(170, 170, 170);
    width: 100%;
    margin-top: 150px;
    max-width: 1200px;
    margin: 0 auto;

}

footer>.go_top {
    position: sticky;
    bottom: 0;
}

.socials {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

.social {
    width: 42.5vw;
    margin: 5vw 0 5vw 5vw;
    display: flex;
    flex-direction: column;
}

.social:last-child {
    justify-self: left;
}

.social svg {
    width: 25px;
    height: 25px;
    margin: 10px auto;

}

.social p {
    text-align: center;
    font-size: 0.7rem;
    color: inherit;
}

.social p a {
    text-decoration: none;
    color: inherit;
}

.social:hover,
.footer_email_form:hover,
.footer_email_form:active,
.footer_nest_row a:hover,
.instagram_text_box a:hover,
.go_top h2 a:hover {
    color: #003cff;
}

.social:active {
    border-bottom: 2px solid #003cff;
}

.instagram_text_box a:active {
    text-decoration: underline;
}

footer {
    background-color: #eeeeee;
    padding: 50px 5vw;
}

footer h2 {
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 15px;
}

.footer_email_form {
    background-color: inherit;
    display: flex;
    width: 80vw;
    flex-wrap: nowrap;
    border: 1px solid gray;
    height: 30px;
    justify-content: space-between;
    color: black;

}

.footer_email_form #email_input {
    border: none;
    width: 60vw;
    height: 25px;
    background-color: inherit;
    outline: none;
    padding-left: 5px;
    padding-top: 4px;

}

.footer_email_form #email_subscribe {
    border: none;
    width: fit-content;
    height: 25px;
    background-color: inherit;
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
    color: inherit;
    transition: 0.5s ease-in-out;
}

.instagram_text_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.instagram_text_box h2 {
    font-size: 1.3rem;
}

.instagram_text_box a {
    color: black;
    text-decoration: none;
}

.instagram_recent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.instagram_recent a {
    border: none;
}

.instagram_recent .insta_img_container {
    width: 40vw;
    height: 40vw;
    margin: 3vw 0;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.footer_row p {
    font-size: 0.6rem;
    padding: 5px;
    padding-left: none;
}

.footer_nest_row {
    display: flex;
    flex-direction: row;
}

.footer_nest_row a {
    color: black;
    text-decoration: none;
}

.footer_nest_row a:hover {
    text-decoration: underline;
}

.go_top {
    width: 100%;
    margin: 0 auto;
    background-color: #eeeeee;
    box-shadow: 0px 15px 5px 23px #EEEEEE;
}

.go_top h2 {
    text-align: center;
}

.go_top h2 a {
    color: black;
}


/* MEDIA */

/* art & exhibitions */

@media (min-width: 765px) {

    .all_filters {
        margin: 0 auto;
        margin-top: 80px;
    }

    .year_title {
        width: 25%;
        margin: 40px 0;
        text-align: right;
    }

    .art_card_text {
        width: 25%;
        text-align: right;
    }

    .art_cards {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .art_card {
        width: 100%;
        flex-direction: row;
        margin: 30px 0 30px 5%;
        align-items: center;
    }

    .art_card_img_container {
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 60%;

    }

    .art_card_image {
        width: 135px;
        height: 100%;
        margin: 10px 20px;
    }

}

/* biography */


@media (min-width: 765px) {

    .stick_left p {
        width: 60%;
    }

    .centered_bio {
        width: 60%;
    }

    .bio_set {
        width: 60%;
        margin: 0 auto;
    }

    .biography_flex_1 {
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .biography_flex_1 img {
        width: 50%;
        margin-left: 80px;
        height: 100%;
    }

    .biography_quote {
        width: 75%;
    }

    .centered_bio_2 p {
        margin: 0 auto;
        width: 50%;
    }

    .biography_flex_2 {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .biography_flex_2 .bio_img_4 {
        width: 30%;
        height: 100%;
    }

    .biography_flex_2 .bio_img_5 {
        width: 50%;
        height: 100%;
    }

    .biography_flex_1 p,
    .biography_flex_1 h2 {
        width: 70%;
        height: 100%;
        margin-left: 80px;
    }

    .biography_flex_1 .bio_img_6 {
        margin-left: 0;
        margin-top: 40px;
    }

    .biography_flex_1 .bio_img_7,
    .biography_flex_1 .bio_img_8 {
        margin-left: 0;
        margin-top: 40px;
        width: 40%;
    }
}

/* footer */


@media (min-width: 765px) {

    .socials {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social {
        width: 10%;
        margin-left: 0;
    }

    .footer_email_form {
        width: 30%;
    }

    .instagram_text_box {
        width: 30%;
    }

    .insta_flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .instagram_recent {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 600px;
    }

    .insta_img_container {
        width: 100px;
    }

    .instagram_recent .insta_img_container {
        width: 100px;
        height: 100px;
        margin: 5px 0;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer_row {
        flex-direction: row;
    }
}

/* dynamic loads */

@media (min-width: 765px) {

    .dynamic_load,
    .index_highlighted_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .dynamic_article {
        width: 25%;
    }
}

/* index */

@media (min-width: 765px) {

    .index_crane_article {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .index_crane_article img {
        width: 60%;
    }

    .crane_article_text {
        margin: 0 auto;
        width: 20vw;
    }
}

/* contact */

@media (min-width: 765px) {

    .contact_page {
        max-width: 1200px;
        flex-direction: row;
        justify-content: space-between;
    }

    .contact_item {
        width:30%;
    }

    .contact_item label,
    .contact_item select#contact,
    .contact_item input#email,
    .contact_item textarea {
        margin: 10px 0;
    }
}

/* contact */

@media (min-width: 1000px) {

    .index_highlighted_container  {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .highlighted_container_title {
        text-align: center;
        width: 100%;
        transform: rotate(270deg);
        margin-right: 30px;
    }
}
